{% extends 'app/base.html' %}
{% load static %}
{% block title %} Cart {% endblock title %}

{% block main-content %}
<div class="container my-5">
  <div class="row">
    <h1 class="text-center mb-5">Shopping Cart</h1>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3>Cart</h3>

          {% for cart in carts %}
          <div class="row">
           <a href="{% url 'product-detail' cart.product.id %}" class="btn">
            <div class="col-sm-3 text-center align-self-center"><img src="{{ cart.product.product_image.url }}" alt=""
                srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"> </a></div>
            <div class="col-sm-9">
              <div>
                <h5>{{cart.product.title}}</h5>
                <p class="mb-2 text-muted small">{{cart.product.description}}</p>
                <div class="my-3">
                  <label for="quantity">Quantity:</label>
                  <a class="minus-cart btn" pid="{{cart.product.id}}"><i class="fas fa-minus-square fa-lg"></i></a>
                  <span id="quantity">{{cart.quantity}}</span>
                  <!-- With the help of AJAX we handle '+', '-' button -->
                  <a class="plus-cart btn " pid="{{cart.product.id}}"><i class="fas fa-plus-square fa-lg"></i></a>
                </div>
                <div class="d-flex justify-content-between">
                  <a href="#" class="btn btn-sm btn-secondary mr-3 remove_cart" pid="{{cart.product.id}}">Remove item </a>
                  <p class="mb-0"><span><strong>Rs. {{cart.product.discounted_price}}</strong></span></p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card ">
        <div class="card-body  ">
          <h3>Order Summary</h3>
          <ul class="list-group">
            <li class=" list-group-item  d-flex justify-content-between align-items-center  px-0 pb-0">
              Amount<span>Rs. <span id="amount">{{amount}}</span></span></li>
              {% if amount < 500 %}
            <li class="list-group-item d-flex justify-content-between align-items-center px-0">Shipping<span>Rs.
                70.00</span></li>
                 {% else %}
                 <li class=" list-group-item d-flex justify-content-between align-items-center px-0">Shipping<span>FREE</span></li>
              {%endif%}
               <li class="list-group-item d-flex justify-content-between align-items-center px-0"><class style="color:red;"> <strong>Discount<span><class style="color:green;padding-left:210px">-{{discount}}</strong></span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center px-0 mb-3">
              <div>
                <strong>Total</strong> <small>(Including All Tax)</small>
              </div>
              <span><strong>Rs. <strong id="totalamount">{{totalamount}}</strong></strong></span>
            </li>

            <li class=" list-group-item d-flex justify-content-between align-items-center px-0"><strong><class style="color:green; text-align:center;">You Will Save Rs. <span>{{discount}}</strong><span></li>
             
          </ul>
          <div class="d-grid"><a href="{% url 'checkout' %}" class="btn btn-primary">Place Order</a></div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="mb-4">We accept</h5>
          <img src="{% static 'app/images/payment.png' %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}