{% extends 'app/base.html' %}
{% load static %}
{% block title %}Kids Footwear{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <link rel="stylesheet" href="{% static 'app/css/cat.css' %}">
                <a href="{% url 'KF' %}" class=" list-group-item-action" aria-current="true"><button type="button" class="btn btn-warning btn-arrow-right">
        All
                    Kids Footwear</button></a>
                
                <a href="{% url 'KFdata' 'below' %}" class=" list-group-item-action" aria-current="true"><button type="button" class="btn btn-info btn-arrow-right">Less
                    than 30000</button></a>
                <a href="{% url 'KFdata' 'above' %}" class=" list-group-item-action" aria-current="true"><button type="button" class="btn btn-danger btn-arrow-right">More than 30000</button></a>
            </div>
        </div>
        <div class="col-sm-8 offset-sm-1">
            <div class="row">
                {% for product in KF %}
                <div class="col-sm-4 text-center mb-4">
                    <a href="{% url 'product-detail' product.id %}" class="btn">
                        <div class="item">
                            <img src="{{product.product_image.url}}" alt="" height="170" class="">
                            <div class="fw-bold">{{product.title}}</div>
                             <div class="fw-bold"><i class="fas fa-rupee-sign"></i><large> {{product.discounted_price}}</large>
                            
                           <strike> {{product.selling_price}}</strike>
                                                       {% if product.ratings == 0 %}

  <ul class="rating">
   
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>

 </ul>

 {% elif product.ratings == 1  %}

 <ul class="rating">
   
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>

 </ul>

  {% elif product.ratings == 2  %}

 <ul class="rating">
   
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>

 </ul>
 {% elif product.ratings == 3 %}

 <ul class="rating">
   
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>

 </ul>
 {% elif product.ratings == 4 %}

 <ul class="rating">
   
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="far fa-heart fa-sm text-danger fa-1x"></i>

 </ul>

{%else%}


 <ul class="rating">
   
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>
    <i class="fas fa-heart fa-sm text-danger fa-1x"></i>

 </ul>
{%endif%}
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}